body{
    font-family: 'Montserrat';
    font-weight: 400;
}

#title{
    background-color: #F7F5EB;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    font-weight: 900;
}

/* Headings */

.big-heading{
    color: #000;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation-Bar */

.navbar-nav{
    margin-left: auto;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'sacramento';
    font-weight: 400;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

/* Title Image */

.title-image {
    width: 100%;
    border-radius: 100%;
}

/* Our Story */

#our-story{
    padding: 3% 15%;
    text-align: center;
}

.story-text{
    margin: auto;
}

.story-image{
    width: 100%;
    border-radius: 100%;
}

.story-heading{
    color: #000;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Features-Section */

#feature{
    background-color:#FBF1D3 ;
}

.feature-image{
    width: 60%;
    border-radius: 100%;
    padding-bottom: 3%;
}

.feature-title{
    font-size: 1.5rem;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-desc{
    color:#8f8f8f;
}

/* Testimnials */

#testimonials{
    text-align: center;
    background-color: #FFD4B2;
    color: #000;
}

.testimonial-text{
    font-family: 'ubuntu';
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel-button{
    color: #000;
}

/* Call to action Section */

#cta{
    background-color: #fff;
    text-align: center;
    color: #000;
    padding: 4% 15% 5%;
}

.contact-image{
    width: 60%;
    border-radius: 100%;
}

.cta-text{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer Section */

#footer{
    margin: 5% 15%;
    text-align: center;
}
.social-icon{
    padding: 2%;
}